
<!DOCTYPE html>
<html>
<head>
    <title>Wardrobe App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block styles %}
    <style>
        .wardrobe-image {
            max-width: 60%;
            height: auto;
        }
        .filter {
            margin-bottom: 20px;
        }
        .color-circle {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 5px;
        }
        
    </style>
    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('home') }}">Wardrobe App</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('add_item') }}">Add Clothing Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('view_items') }}">View Clothing Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('create_outfit') }}">Create Outfit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('generate_outfit') }}">Generate Outfit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('view_outfits') }}">View Outfits</a>
            </li>
        </ul>
    </nav>
    

    
        
    
    
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
