{% extends 'base.html' %}

{% block content %}
    <h1>View Clothing Items</h1>
    <form method="POST">
        <div class="filter">
            <label for="category_filter">Category:</label>
            <select class="form-control" id="category_filter" name="category_filter" onchange="this.form.submit()">
                <option value="">All</option>
                <option value="Tops" {% if category_filter == 'Tops' %}selected{% endif %}>Tops</option>
                <option value="Bottoms" {% if category_filter == 'Bottoms' %}selected{% endif %}>Bottoms</option>
                <option value="Footwear" {% if category_filter == 'Footwear' %}selected{% endif %}>Footwear</option>
                <option value="Accessories" {% if category_filter == 'Accessories' %}selected{% endif %}>Accessories</option>
            </select>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Type</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {% for item in filtered_items %}
            <tr>
                <td>{{ item['name'] }}</td>
                <td>{{ item['category'] }}</td>
                <td>{{ item['type'] }}</td>
                <td> <span class="color-circle" style="background-color: {{ item['color'] }}"></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
